{% extends "display/index" %} {% block answers%}

<div class="container">
  <h1>Schätzfrage</h1>

  <h2>{{ question }}</h2>
  <div id="solution">Lösung: {{ solution }}</div>
</div>

{% endblock answers%}
