{% extends "display/index" %} {% block question_content%}

<div class="container">
  <h1>Schätzfrage</h1>

  <h2>{{ question }}</h2>
  <div id="solution" class="answer">Lösung: {{ solution }}</div>
</div>

{% endblock question_content%}
