<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="display/style.css">
    <title>Quiz</title>
</head>
<body>
    {% block answers %}{% endblock answers %}
    <div id="group_answers"></div>
    <script type = "text/javascript" src="display/index.js"></script>
</body>
</html>