{% extends "display/index" %} {% block answers %}
<div class="container">
  <h1>Frage</h1>

  <h2>{{ question }}</h2>
  <div class="grid">
    <div class="answer">A: {{ answers[0] }}</div>
    <div class="answer">B: {{ answers[1] }}</div>
    <div class="answer">C: {{ answers[2] }}</div>
    <div class="answer">D: {{ answers[3] }}</div>
  </div>
  <div id="solution">
    Lösung: {{ letters[solution] }}: {{ answers[solution] }}
  </div>
</div>

{% endblock answers%}
