@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

html, body {
  font-family: "DM Sans";
  background-image: url("../res/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.answer {
  background-color: #f9f9f999;
  padding: 20px;
  text-align: center;
  border: 1px solid #ddd;
  font-size: x-large;
  border-radius: 1em;
}

#root {
    display: flex;
    flex-direction: row;
}

#root > #group_answers {
    flex-shrink: 0;
}

#root > #answerContent {
    flex-grow: 1;
}

#answerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#solution {
  margin-top: 20px;
  display: none;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  overflow: visible;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 600px;
  grid-row-gap: 40px;
  margin-top: 20px;
}

h1 {
  font-size: 6vmin;
  margin-bottom: 20px;
}

h2 {
  font-size: 4vmin;
  margin-bottom: 20px;
}

#group_answers {
  top: 0%;
  left: 0%;
  max-width: 30%;
  height: 100%;
  margin: 0.5em;
  font-size: 3vmin;
}

#groupScores {
    font-size: x-large;
    margin: 2em;
}

.groupScore {
    margin-bottom: 0.2em;
}

.groupName {
    font-weight: bold;
}

.groupAnswerText {
    margin-left: 0.5em;
    display: none;
}

.groupAnswer {
    display: flex;
    padding: 0.1em;
}