{% extends "ui/index" %}

{% block question_type %}
Schätzfrage
{% endblock question_type %}


{% block answers%}
<script type = "text/javascript" src="ui/estimate.js"></script>

<input type="number" id="answerInput" onchange="setAnswer()"/>
{% endblock answers%}


{% block solution %}
{{ solution }}
{% endblock solution %}