{% extends "ui/index" %}
{% block question_content%}
<script type = "text/javascript" src="ui/sort.js"></script>
<h1>Sortierfrage</h1>

<h2>{{ question }}</h2>

A: {{ answers[0] }}<br>
B: {{ answers[1] }}<br>
C: {{ answers[2] }}<br>
D: {{ answers[3] }}<br>

<div id="solution" style="display: none;">
Lösung: 
{{ letters[solution[0]] }}
{{ letters[solution[1]] }}
{{ letters[solution[2]] }}
{{ letters[solution[3]] }}
</div>

{% endblock question_content%}