@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  font-family: "DM Sans";
  font-weight: normal;
}

body {
  background-image: linear-gradient(#ffffff, #00aaff, #0055dd);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex; /* Use flexbox layout */
  flex-direction: column;
  margin: 0px;
  padding: 0px;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1em;
  height: 100vh;
  overflow: auto;
}

header {
  text-align: left;
  width: 100%;
}

#solution {
  margin-top: 20px;
  display: none;
}

h1,
h2 {
  margin-bottom: 20px;
}

.boldText {
  font-weight: 700;
}

#headings {
  width: 95%;
}

#answer {
  font-size: larger;
}

#answerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 30%;
  width: fit-content;
  padding: 1.5em 0em;
}

.answerButton {
  background-color: #f9f9f999;
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 0.75em;
  margin: 0.5em 1em;
  width: 100%;
}

@media (orientation: landscape) {
  h1 {
    font-size: 6vmin;
  }

  h2 {
    font-size: 4vmin;
  }

   .answerButton, #answer, #solution, #currentAnswer {
    font-size: 3vmin;
  }
}

@media (orientation: portrait) {
  h1 {
    font-size: 5vmax;
  }

  .answerButton, #answer, h2, #solution, #currentAnswer {
    font-size: 3vmax;
  }
}

#loginContent {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#loginContent * {
  margin-left: 0.5em;
  height: fit-content;
}

#buttonContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.extraButton {
  background-color: #f9f9f999;
  padding: 20px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 1em;
  margin: 0.5em 1em;
  font-size: larger;
}

button:disabled.answerButton {
    border-color: blue;
    background-color: #00aaff;
    color: white;
}

#answerInput {
  border-radius: 0.5em;
  height: 1.5em;
  width: 100%;
  font-size: x-large;
}
